@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
}

<form action="~/persons/index" method="get">
    <a href="/persons/create">Create Person</a>
    <h1>Persons</h1>

    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchBy">
                @foreach (var field in ViewBag.SearchFields)
                {
                    if (field.Key == ViewBag.CurrentSearchBy)
                    {
                        <option value="@field.Key" selected= "selected">@field.Value</option>   
                    }
                    <option value="@field.Key" >@field.Value</option>   

                }
            </select>
        </div>
        <div>
            <input type="search" id="search" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString" />
        </div>

        <div>
            <button class="btn btn-primary">
                Search
            </button>
            <a href="~/persons/Index">Clear all</a>
        </div>
    </div>

    <div class="rounded-box border-base-content/5 bg-base-100 overflow-x-auto border">

        <table class="table" style="width: 80%">
            <thead>
                <tr>
                    @foreach (var Column in (ViewBag.Columns))
                        {
                            @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData)
                                            {
                                            { "ColumnName" , Column.Key },
                                            {"DisplayName", Column.Value}
                                            }
                            );
                        }
                    </tr>
            </thead>

            <tbody>
                @foreach (var person in Model)
                {
                    <tr class="hover:bg-base-300">
                        <td>@person.Name</td>
                        <td>@person.EmailAddress</td>
                        <td>@person.DateOfBirth?.ToString("dd/MM/yyyy")</td>
                        <td>@person.CountryName</td>
                        <td>@person.Age</td>
                        <td>@person.Gender</td>
                    </tr>
                }
            </tbody>
        
        </table>
    </div>
</form>

